<h1>Books</h1>
<table>
	<thead>
		<tr>
			<th>Title</th>
			<th>Body</th>
			<th colspan="3"></th>
		</tr>
	</thead>
	<% Book.all.order(created_at: :ASC).each do |book| %>
		<tbody>
			<tr>
				<td><%= book.title %></td>
				<td><%= book.body %></td>
				<td><%= link_to "show", book_path(book.id) %></td>
				<td><%= link_to "edit", edit_book_path(book.id) %></td>
				<td><%= link_to "destroy", book_path(book.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
			</tr>
		</tbody>
	<% end %>
</table>

<h2>New Books</h2>

<%= form_with model:@book do |f| %>
<% if @book.errors.any? %>
  <%= @book.errors.count %>errors prohibited this book from being saved:
  <%= render 'layouts/error_messages', model: f.object %>
<% end %>

	<div class="field" >
		<%= f.label :title %>
		<%= f.text_field :title %>
	</div>

	<div class="field" >
		<%= f.label :body %>
		<%= f.text_area :body %>
	</div>

	<div class="action" >
		<%= f.submit "Create Book" %>
	</div>

<% end %>